[submodule "zsh"]
	path = zsh
	url = git@github.com:isaacault/zsh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:isaacault/tmux.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:isaacault/nvim.git
